// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';


// Fonts
@font-face {
    font-family: 'HelveticaNeueCyr-Bold';
    src: url('fonts/HelveticaNeueCyr-Bold.ttf') format("truetype");
    font-weight: bold;
    font-style: normal;
}


@font-face {
    font-family: 'HelveticaNeueCyr-Roman';
    src: url('fonts/HelveticaNeueCyr-Roman.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Light';
    src: url('fonts/HelveticaNeueCyr-Light.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'HelveticaNeueCyr-Black';
    src: url('fonts/HelveticaNeueCyr-Black.ttf') format("truetype");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'HelveticaNeueCyr-Roman';
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}


.logo {
    position: fixed;
    top: 0;
    left:0;
    background: #000;
    height: 55px;
    width: 100%;
    opacity: 0.5;
    z-index: 2;
}

.carousel {
    z-index: 1;
}

.site-section-1 {
    background-color: #231f20;
    width: 100%;
    height: 30%;
    background-position: center;
}

.site-section-1 input {
    border-radius: 0.25rem;
    border: 0;
    outline: none;
    padding-left: 10px;
    width: 100%;
    height: 50px;
}

.container button {
    width: 266px ;
    height: 50px;
    background-color: #37a98f;
    border-color: #37a98f;
}

.site-section-1  button {
    width: 100%  ;
    height: 50px;
    background-color: #37a98f;
    border-color: #37a98f;
}

.container button:hover {
    background-color: #37a98f;
    border-color: #fff;
}

.site-section-1 input::-webkit-input-placeholder {
    padding-left: 10px;
    font-family: 'HelveticaNeueCyr-Light';
    font-size: 16px;
}


.p32green-text {
     font-family: 'HelveticaNeueCyr-Bold';
     font-size: 32px;
     color: #FFF;
 }

.p32green-text {
    font-family: 'HelveticaNeueCyr-Bold';
    font-size: 32px;
    color: #01ab90;
}
.p-text {
    font-family: 'HelveticaNeueCyr-Bold';
    font-size: 32px;
    color: #FFF;
}

.s-text {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 14px;
    color: #FFF;
}


.s14black-text {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 14px;
    color: #000;
}

.s16black-text {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 16px;
    color: #000;
}
.s14green-text {
    font-family: 'HelveticaNeueCyr-bold';
    font-size: 16px;
    color: #01ab90;
}

.s16-text {
    font-family: 'HelveticaNeueCyr-Roman';
    font-size: 16px;
    color: #FFF;
}

.sb-text {
    font-family: 'HelveticaNeueCyr-Bold';
    font-size: 16px;
    color: #FFF;
}

.s32boldgreen {
    font-size: 32px;
    font-family: "HelveticaNeueCyr";
    color: #37A98F;
    font-weight: bold;
    line-height: 1.563;
}

.s16gray {
    font-size: 16px;
    font-family: "HelveticaNeueCyr";
    color: #595651;
    line-height: 1.25;
}

.s16green {
    font-size: 16px;
    font-family: "HelveticaNeueCyr-Bold";
    color: rgb(55, 169, 143);
    line-height: 1.25;
}

.img-rect {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: #37A98F;
    top: -20px;
    left: 0;
    text-align: center;
    padding-top: 3px;
    font-size: 24px;
    font-family: 'HelveticaNeueCyr-Roman';
    color: #fff;
}

.site-section-2 {
    //background-size: cover;
   // background-size: contain;
    //-webkit-background-size: cover;
    // -moz-background-size: cover;
    // -o-background-size: cover;
    background-image: url('images/advantages.png');
    background-repeat: no-repeat;
    //background-attachment: scroll;
 //   background-position: center center;
    background-size: cover;
    padding-top: 45px;
    padding-bottom: 45px;
    background-color: #01ab90;
}

.site-section-3 {
    background-image: url('images/legs.png');
    background-repeat: no-repeat;
  //  background-attachment: scroll;
  //  background-position: center center;
    background-size: cover;
    padding-top: 85px;
    padding-bottom: 85px;
    background-color: #eae9e7;
    line-height: 0.5;
}

.site-section-4 {
    background-image: url('images/boots.png');
    background-repeat: no-repeat;
    //  background-attachment: scroll;
    //  background-position: center center;
    background-size: cover;
    padding-top: 85px;
    padding-bottom: 85px;
    background-color: #eae9e7;
}

.site-section-5 {
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
}

.site-section-6 {
   // background-repeat: no-repeat;
  //  background-size: cover;
    background-color: #f1f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    font-family: 'HelveticaNeueCyr-Bold';
    color: #8e9295;
}


.site-section-7 {
   // background-repeat: no-repeat;
   // background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: #ffffff;
    font-family: 'HelveticaNeueCyr-Bold';
    font-size: 22px;
    color: #000;
}
/*
.site-section-7 .container > div{
    border-bottom: 1px solid #8e9295;
}*/

.nav-tabs {
    border: 0;
}

.site-section-7 .nav-link {
    border: 0;
}

.site-section-7 .nav-link .active{
    border-bottom: 1px #01ab90 solid;
}

.site-section-7 .nav-tabs .nav-link.active{
    color: #000000;
    border-bottom: 2px #01ab90 solid;
}

.site-section-7 a {
    color: #000000;
}

.l-text{
    margin-left: 35%;
    line-height: 0.8;
}

.figure {
    width: 145px;
    height: 145px;
    border: 1px solid white;
    border-radius: 0.25rem;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 100%;
}

@media (max-width: 992px) {
    .site-section-2 {
        background-image: none;
    }
}

@media (max-width: 992px) {
    .site-section-3 {
        background-image: none;
    }
}
